# ========================
# Visual Studio
# ========================

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
build/

# Visual Studio cache
.vs/

# Rider / VSCode (nếu có)
.idea/
.vscode/

# Logs
*.log

# Temp files
*.tmp
*.temp
*.cache
~$*

# OS files
.DS_Store
Thumbs.db

# SQL Server
*.mdf
*.ldf
*.ndf

# NuGet
packages/
*.nupkg

# Others
ClientBin/